/*
 * Copyright (c) 2024 Ezra Godfrey
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	 aliases {
		uart0 = &usart2;
	};
};

&usart2 {
	current-speed = <460800>;
};

&i2c1 {
	si7021: si7021@40 {
		compatible = "silabs,si7006";
		reg = <0x40>;
		status = "okay";
	};
};
